.slider--infos {
  position: absolute;
  letter-spacing: 5px;
  color: var(--white-color);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

@media (max-width: 920px) {
  .slider--infos {
    padding: 12px;
  }
}
